<h1>Books</h1>

<% @books.each do |book| %>

    <h4>Title</h4>
    <%= book.title %>
    
    <h4>Body</h4>
    <%= book.body %>
    
    <%= link_to 'Show', book_path(book.id) %>
    <%= link_to 'Edit', edit_book_path(book.id) %>
    <%= link_to 'Destroy', book_path(book.id), method: :delete %>
    
<% end %>
