<div class ="flash_message"><%= flash[:notice] %></div>

<p><strong>Title:</strong> <%= @book.title %></p>

<p><strong>Body:</strong> <%= @book.body %></p>


<div class="link"><%= link_to 'Edit', edit_book_path(@book.id) %></div>
<span>|</span>
<div class="link"><%= link_to 'Back', books_path %></div>

